@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Tapestry&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* max-width: 1440px; */

}
img ,picture{
  display: block;
  max-width: 100%;
}
body {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
.container,header{
  margin-inline: auto;
  max-width: 1440px;

}
a{
  text-decoration: none;
  color: black;
}
p{
  font-weight: 100;
}

.haut-depage {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  /* flex-flow: wrap-reverse; */
  flex-wrap: wrap;
}
.logo{
  /* display:flex; */
}
.haut-depage img {
  padding: 0px 10px;
  width: 160px;
  height: 80px;
  min-width: 160px;
}
.liennav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* font-weight: bold; */
}
.liens {
  padding: 30px 20px;
  display: flex;
  border-top: 5px solid #0065fc;
  text-decoration: none;
  justify-content: flex-end;
  margin-right: 50px;
}
.titre{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.premiere_section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recherche {
  display: flex;
  margin-bottom: 20px;
}
#map {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px 0px 0px 10px;
  background-color: #deebff;
  font-size: larger;
}

.recherche input {
  padding-left: 20px;
  border: 1px solid #deebff;
  font-size: larger;
  font-weight: bold;
}
.recherche button {
  background-color: #0065fc;
  border-color: #deebff;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 20px;
  cursor: pointer;
  
} 
.fa-magnifying-glass{
  display: none;
}


@media(max-width:768px){
  .recherche span{
    display: none;
    
  }
  .fa-magnifying-glass{
    display: inline;
  }
  .liens{
    border-bottom:5px solid #0065fc;
    border-top: none;
  }
  }

  /* .aside-populaire{
    flex-basis: 38%;
  }
  .cartes-populaire{
    flex-direction: column;
    
  } */

.section_filtre {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  
}
.filters {
  margin: 10px 10px;
  border: 1px solid lightblue;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  transition-duration: 0.1s;
}
.filters:hover{
  background-color: #f2f2f2;
  transform: scale(1.0);

}
.section_filtre .fa-solid {
  display: flex;
  background-color: #deebff;
  color: #0065fc;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.section_filtre p {
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.info_logement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 25px 0px;
}

.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border-radius: 50%;
  border: 1px solid lightblue;
  width: 30px;
  height: 30px;
}



@media (max-width:768px){
  .section_filtre{
    /* flex-direction: column; */
  }
}
/*  
main{
  border: 1px solid red;
  display: flex;
  width: 100%;
}
main img{
  width: 320px;
  height: 120px;
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}
.section_hebergement{
  border: 1px solid ;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}



}

/* premier essai booki parti carte hebergement et populaire */

main {
  display: flex;
  /* justify-content:space-between; */
  /* align-items:flex-start; */
  flex-direction:reverse;
  /* flex-wrap:wrap; */
  gap: 20px;
  height: 100%;
  /* flex-direction: wrap-reverse; */
  flex-flow: wrap-reverse;
}
.section-hebergement {
  /* border: 4px solid red; */
  width: 880px;

  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
}
.section-hebergement h2 {
  margin: 20px 20px;
}
/*  */

.cartes-hebergement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 66%;
  gap: 10px;
  margin-left: 20px;
}
.carte-hebergement {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 10px;
  width: 245px;
  padding: 5px;
  box-shadow: 0px 0px 16px #0000002e;
  transition: 0.6s;
}
.carte-hebergement:hover{
  transform: scale(1.1);
}
.carte-hebergement i {
  color: #0065fc;
}
.fa-gris {
  color: lightgray !important;
}
.appart img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
}
.affichagesup{
  display: block;
  margin: 25px 25px;
}

.aside-populaire {
  /* display: flex; */
  /* justify-content:center; */
  /* flex-direction:row; */
  /* flex-direction: column; */
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 10px 30px;
  width: 420px;
  height: 100%;
  /* gap: 10px; */
}
.titre-etoile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28px;
  /* margin-right: 55px; */
  margin-top: 35px;
}
.aside-populaire img {
  /* object-fit: cover; */
  width: 130px;
  height: 140px;
  border-radius: 15px 0px 0px 15px;
}

.cartes-populaire {
  /* box-sizing: border-box; */
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* border: 1px solid green; */
  /* background-color: #fff; */
  padding: 25px;
  /* width: auto; */
  gap: 20px;
  /* height: 100%; */
  /* flex-basis: 38%; */
  min-width: 400px;
  margin-right: 28px;
}

.carte-populaire {
  /* border: 2px solid yellow; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* width: 420px; */
  /* align-items: flex-start; */
  
  box-shadow: 0px 0px 25px #0000002e;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  transition: 1s;
}
.carte-populaire:hover{
  transform: scale(1.1);
}

/*  */
.titre-populaire {
  /* border: 5px dotted magenta; */
  width: 300px;
  display: flex;
  /* gap:10px ; */
}
.titre-populaire div {
  /* height: 45px; */

  /* border: 1px solid blue; */
  /* display: flex; */
  /* flex-direction: column; */
  padding: 5px;
  /* line-height: 1.5rem; */
}
.titre-populaire p{
  /* margin: -8px 5px; */
  /* font-weight: 100; */

}
.titre-populaire h3{
  /* margin: 5px 5px; */
}
.etoiles {
  display: flex;
  align-items: flex-end;
  color: #0065fc;
  margin: 0px 5px;
}

@media  (max-width:992px) {
  .aside-populaire{
    flex-basis: 100%;
  }
  .cartes-populaire{
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: stretch; */
    /* align-items: stretch; */
    width: 80%;
  }
}

/* activités a Marseille */

/* .activite{
  display: flex;
  display: grid;
  flex-direction: column;
  padding-top:10px;
  padding-bottom: 10px;
} 
.grid-activite{
  height: 100%;
  display: grid;
  display: flex;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto 10rem 2rem 2rem 2rem 10rem;  
    
  } 
    
  
  
  .carte-grid{
    border: 1px solid maroon;
    display: grid;
   
    width: 310px;
}*/
/*  */
.activite h3 {
  display: block;
  background-color: #fff;
  /* width: 360px; */
  /* margin: 15px 25px; */
  text-align: center;
  
}

.grid-activite {
  /* margin-top: 55px; */
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  grid-template-rows: repeat(9, 50px);
  gap: 20px;
  grid-template-areas:
    "vieux_port pomegues parc_national dame"
    "vieux_port pomegues parc_national dame "
    "vieux_port pomegues parc_national dame"
    "vieux_port pomegues parc_national dame"
    "vieux_port pomegues parc_national longchamp"
    "vieux_port frioul parc_national longchamp"
    "vieux_port frioul parc_national longchamp"
    "vieux_port frioul parc_national longchamp"
    "vieux_port frioul parc_national longchamp";
}
/* pour gerer la composition des elements */
.carte-vieux-port {
  grid-area: vieux_port;
}
.carte-fort {
  grid-area: pomegues;
}
.carte-parc {
  /* display: flex; */
  grid-area: parc_national;
  
}
.carte-frioul {
  grid-area: frioul;
}
.carte-dame {
  grid-area: dame;
}
.carte-longchamp {
  grid-area: longchamp;
}

.carte-grid {
  /* position: relative; */
  display: flex;
  align-items: flex-end;
  /* padding-top: 100%; */
  border-radius: 15px;
  box-shadow: 0px 0px 25px#0000002e;
  overflow: hidden;
  height: auto;
  transition: 0.5s;
}
.carte-grid:hover{
  transform: scale(1.1);
}
.carte-grid img{
  /* max-width: 100%; */
  object-fit: cover;
  /* object-position: center; */
  /* position: absolute; */
  /* height: 350px */
}
.carte-vieux-port img{
  height: 600px;
  /* position: relative; */
}
.carte-parc img{
  /* position: relative; */
  height: 600px;
}


.carte-longchamp img{
  /* position: relative; */
}






footer {
  background-color: #deebff;
  width: 100%;
  margin-top: 65px;
  /* display: block; */
  /* justify-content: space-around; */
  /* align-items: center; */
  padding-top: 45px;
  /* flex-direction: column; */
}
footer div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 150px;
  padding-bottom: 40px;
}

.section-footer{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width:1440px;
  margin-inline: auto;

}

/* premiere media query affichage tablette */

@media (max-width:992px) {
  .grid-activite {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 150px); */
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    grid-template-areas:
      "vieux_port pomegues" 
      "parc_national dame"
      "frioul longchamp";
  }

 }
  @media (max-width:768px) {
  .grid-activite {
    grid-template-rows: repeat(5, 100px);
    grid-template-areas:
    "vieux_port"
    "pomegues"
    "parc_national"
    "dame"
    "frioul"
    "longchamp";
    height: 700px;
    width: 700px;
  }
  }

@media (max-width:768px) {
  .section-footer{
    flex-direction: column;
  }

}